$very-light-gray2: #eef2fb;
$very-light-gray: #979dac;
$light-gray: #7d8597;
$gray: #5c677d;
$green-gray: #33415c;
$very-dark-navy: #001233;
$dark-navy: #001845;
$navy: #002855;
$very-light-blue: #026fdd;
$light-blue: #0353a4;
$dark-blue: #023e7d;
$white: #fff;
$black: #000;
