@use './colors' as c;
@use './colors';

@media (min-width: 1200px) {
	// hero-image
	.hero-image {
		height: 50vh;
		background-position-y: 37%;

		.wrapper {
			.hero-text {
				padding-bottom: 3.7em;

				&__heading {
					font-size: 5.5rem;
				}

				&__paragraph {
					font-size: 2.5rem;
				}

				.btn {
					font-size: 2rem;
				}
			}
		}
	}

	// main
	.main {
		padding: 2em 1em 4em 1em;

		// aboutus
		.aboutus {
			.head-title {
				font-size: 3.7rem;
			}

			.subtitle {
				font-size: 2.7rem;
			}

			&__content {
				margin-top: 3.5em;

				.para-text {
					font-size: 1.8rem;
				}

				.carousel {
					&-inner {
						.carousel-item {
							.carousel-caption {
								height: 23%;

								h5 {
									font-size: 2.2rem;
								}

								p {
									font-size: 2.5rem;
								}
							}
						}
					}
				}
			}
		}
	}
}

// @media only screen and (min-width: 1200px) and (orientation: landscape) {
// 	// header
// 	.header {
// 		.navbar {
// 			.nav {
// 				&__link {
// 					font-size: 2rem;
// 				}
// 			}
// 		}
// 	}

// 	// main
// 	.main {
// 		// aboutus
// 		.aboutus {
// 			&__content {
// 				.carousel {
// 					display: none;
// 				}

// 				&--img {
// 					display: flex;
// 					height: 70vh;
// 					object-fit: cover;
// 				}
// 			}
// 		}
// 	}
// }
