@use './colors' as c;

@media (min-width: 992px) {
	// header
	.header {
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0em 1em;

			&__brand-logo {
				&--link {
					.logo-img {
						width: 10.5em;
					}
				}
			}

			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: flex;
				}

				&-mobile {
					display: none;
				}

				&__link {
					margin: 0em;
					padding: 2.3em 1em;
					text-transform: uppercase;
					font-size: 1.5rem;
					font-weight: 500;
					transition: font-weight 0.3s, transform 0.3s, background-color 0.3s;

					&:hover {
						font-weight: 500;
						transform: scale(0.95);
						background-color: c.$light-blue;
					}
				}
			}
		}
	}

	// hero-image
	.hero-image {
		background-position-y: 50%;

		.wrapper {
			.hero-text {
				&__heading {
					font-size: 4.5rem;
				}
			}
		}
	}

	// main
	.main {
		padding: 2em 1em 4em 1em;

		// aboutus
		.aboutus {
			.head-title {
				font-size: 3.5rem;
			}

			.subtitle {
				font-size: 2.4rem;
			}

			&__content {
				padding: 2em 2.5em;

				.para-text {
					font-size: 1.7rem;
				}

				.btn-box {
					.btn {
						font-size: 2rem;
					}
				}

				.carousel {
					margin: 2.5em 0em 2.5em 0em;

					&-inner {
						.carousel-item {
							.carousel-caption {
								height: 22%;

								h5 {
									font-size: 2rem;
								}

								p {
									font-size: 2.3rem;
								}
							}
						}
					}

					.carousel-control-next,
					.carousel-control-prev {
						.carousel-control-next-icon,
						.carousel-control-prev-icon {
							width: 3.2em;
							height: 3.2em;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1400px) and (max-height: 450px) and (orientation: landscape) {
	// header
	.header {
		.navbar {
			&__brand-logo {
				&--link {
					.logo-img {
						width: 8em;
					}
				}
			}

			.hamburger {
				top: 2.8em;
			}

			.nav {
				&__link {
					font-size: 1.7rem;
				}
			}
		}
	}

	// hero-image
	.hero-image {
		height: 85vh;
		background-position-y: 52%;

		.wrapper {
			.hero-text {
				padding-bottom: 2.5em;

				.btn {
					margin-top: 0.4em;
					font-size: 1.7rem;
				}
			}
		}
	}

	// main
	.main {
		padding: 0.8em 0.7em 2em 0.7em;

		// aboutus
		.aboutus {
			.head-title {
				font-size: 2.9rem;
			}

			.subtitle {
				font-size: 2rem;
			}

			&__content {
				margin-top: 1.7em;

				.para-text {
					line-height: 3rem;
				}

				.carousel {
					display: none;
				}

				&--img {
					display: flex;
					margin: 1em 0em;
					height: 70vh;
					object-fit: cover;
				}

				.para-text {
					font-size: 1.6rem;
				}
			}
		}
	}
}
