@use './colors' as c;

// header
.header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	background-color: c.$very-dark-navy;
	z-index: 1000;

	.navbar {
		position: relative;
		padding: 0.5em;

		&__brand-logo {
			&--link {
				.logo-img {
					width: 9em;
					transition: transform 0.3s;

					&:hover {
						transform: scale(0.95);
					}
				}
			}
		}

		.hamburger {
			position: absolute;
			top: 3.2em;
			right: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner:before,
			&-inner:after {
				background-color: c.$white;
				z-index: 500;
			}

			&:focus {
				outline: none;
			}
		}

		.nav {
			&-desktop {
				display: none;
			}

			&-mobile {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100vh;
				overflow-y: hidden;
				background-color: c.$very-dark-navy;
				transform: translateX(-102%);
				transition: transform 0.3s;
				z-index: 10;

				&--active {
					transform: translateX(0);
				}
			}

			&__link {
				position: relative;
				display: inline-block;
				margin: 0.5em 0em;
				padding: 0.5em 1em;
				text-decoration: none;
				font-size: 2rem;
				color: c.$white;
				transition: font-weight 0.3s, transform 0.3s;

				&:hover {
					font-weight: bold;
					transform: scale(1.2);
				}
			}
		}
	}
}

// hero-image
.hero-image {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image: url('../../dist/img/1.jpg');
	background-size: cover;
	background-position-x: 52%;
	z-index: 0;

	.wrapper {
		.hero-text {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: center;
			top: 0;
			left: 0;
			padding-bottom: 2.4em;
			width: 100%;
			height: 100%;
			color: c.$white;
			z-index: 1;

			&__heading {
				text-transform: uppercase;
				letter-spacing: 0.1rem;
				font-size: 3.7rem;
				font-weight: bold;
			}

			&__paragraph {
				text-align: center;
				padding: 0em 0.7em;
				font-size: 1.8rem;

				.special-text {
					color: c.$very-light-blue;
				}
			}

			.btn {
				margin-top: 1.2em;
				padding: 0.5em 1em;
				border: 2px solid c.$white;
				border-radius: 0.5em;
				color: c.$white;
				font-weight: bold;
				font-size: 1.6rem;
				text-decoration: none;
				transition: border 0.3s, background-color 0.3s;

				&:hover {
					border: 2px solid c.$very-light-blue;
					background-color: c.$very-light-blue;
				}
			}
		}
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(1, 14, 28, 0.80);
		z-index: -5;
	}
}

// main
.main {
	padding: 0.4em 0.7em 2em 0.7em;

	// aboutus
	.aboutus {
		&__content {
			margin-top: 2em;
			display: flex;
			flex-direction: column;
			padding: 0.7em 1em;
			border-radius: 0.5em;
			background-color: c.$very-light-gray2;

			.para-text:first-of-type {
				margin: 0.5em 0em;
			}

			.para-text {
				margin: 1em 0em;
				line-height: 2.7rem;
			}

			.carousel {
				display: none;
			}

			&--img {
				margin: 1em 0em;
				border-radius: 0.5em;
			}

			.para-text {
				font-size: 1.6rem;
			}

			.btn-box {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 1.8em 0em;
				width: 100%;

				.btn {
					padding: 0.7em 1.4em;
					border-radius: 0.4em;
					background-color: c.$very-light-blue;
					border: 2px solid c.$very-light-blue;
					color: c.$white;
					text-decoration: none;
					font-size: 1.7rem;
					font-weight: bold;
					transition: border 0.3s, background-color 0.3s, color 0.3s;

					&:hover {
						border: 2px solid c.$very-light-blue;
						background-color: c.$very-light-gray2;
						color: c.$very-light-blue;
					}
				}
			}
		}
	}
}
