@use './colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	margin-top: 4.8em;
	scroll-margin-top: 5.2em;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.special-text {
	font-weight: bold;
}

.head-title {
	margin-top: 1em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 2.9rem;
	color: c.$light-blue;
}

.subtitle {
	text-align: center;
	font-weight: 600;
	color: c.$dark-blue;
}
